/* * {
    box-sizing: border-box;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* vh = view height*/
}

.top-header {
    text-align: center;
}

.main-display {
    border: 5px solid black;
    height: 500px;
    width: 900px;
}

#game-top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* .reset-btn {
    float: left;
}

.game-message {
    text-align: center;
}

.options-btn {
    float: right;
} */

#game-reel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid black;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.game-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    flex: 0 0 32%;
    border: 2px solid black;
    height: 98px;
}